Final Deliverables/Final Code/flows.json
[{"id":"2db1b78d786a895e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f1e14498c69d8b2b","type":"ui_tab","name":"Smart home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8fe51e3a77a72cf1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"650f7eea3c527460","type":"ui_group","name":"","tab":"f1e14498c69d8b2b","order":1,"disp":true,"width":"10","collapse":true},{"id":"330a50d18e9cdeb5","type":"ibmiot","name":"API KEY","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a15f4a4239c43c63","type":"ibmiot in","z":"2db1b78d786a895e","authentication":"apiKey","apiKey":"330a50d18e9cdeb5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"device114","applicationId":"","deviceType":"gasleakage114","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":"","qos":0,"x":210,"y":320,"wires":[["914fa2be61decffe","f417e0b92a8c724a","87b8a36ad215da0f"]]},{"id":"f417e0b92a8c724a","type":"function","z":"2db1b78d786a895e","name":"Temperature","func":"global.set('temperature',msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":240,"wires":[["914fa2be61decffe","fbfadbe6a559e3f8"]]},{"id":"87b8a36ad215da0f","type":"function","z":"2db1b78d786a895e","name":"Humidity","func":"global.set('humidity',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":400,"wires":[["914fa2be61decffe","3909375ad4a8bf59"]]},{"id":"914fa2be61decffe","type":"debug","z":"2db1b78d786a895e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":320,"wires":[]},{"id":"fbfadbe6a559e3f8","type":"ui_gauge","z":"2db1b78d786a895e","name":"","group":"650f7eea3c527460","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":240,"wires":[]},{"id":"3909375ad4a8bf59","type":"ui_gauge","z":"2db1b78d786a895e","name":"","group":"650f7eea3c527460","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":400,"wires":[]},{"id":"bc298684ca5418db","type":"http in","z":"2db1b78d786a895e","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":220,"y":580,"wires":[["b4655ba2b93a16c6"]]},{"id":"b4655ba2b93a16c6","type":"function","z":"2db1b78d786a895e","name":"webpage","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":580,"wires":[["6d1a175fe047bb75"]]},{"id":"6d1a175fe047bb75","type":"http response","z":"2db1b78d786a895e","name":"","statusCode":"","headers":{},"x":750,"y":580,"wires":[]}]